<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile colspan="1" rowspan="8" style.background="black">
        <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="8" style.background="black">
        <div id="que" class="container-fluid bg-2 text-center">
            <h3 class="margin">Repite la secuencia</h3>
            <p>Repite la secuencia es un juego de memoria, tanto visual como auditiva, pon a prueba tu talento y
               vence a la maquina repitiendo los mismo pasos.. 
               Recuerda la convinacion maxima (6 repeticiones) para llevarte la victoria
            </p>
            <button type="button" class="btn btn-dark block" style="width: 100%" routerLink="/juegos/secuencia"> Click aqui para Jugar</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<!-- Second Container -->


<!-- Third Container (Grid) -->
<div id="donde" class="container-fluid bg-3 text-center">
    <h3 class="margin">Dónde Funciona?</h3><br>
    <div class="row">
        <div class="col-sm-4">
            <p>Con las tecnologias WEB que permiten desarrollar aplicaciones multiplataforma</p>
            <img src="./assets/imagenes/quiensoy1.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Principalmente orientada a la experiencia del usuario, garantizando que su funcionamieto sea fluido y pensado en el comportamiento del usuario y en la funcionalidad.</p>
            <img src="./assets/imagenes/quiensoy2.jpg" class="img-responsive margin imagenDeQuienSoy" alt="Image">
        </div>
        <div class="col-sm-4">
            <p>Para los sistemas operativos lideres en el mercado del consumo masivo</p>
            <img src="./assets/imagenes/quiensoy3.png" class="img-responsive margin imagenDeQuienSoy" alt="Image">
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
    <p>Modificado por <a href="https://github.com/blackedhs">By Blacked</a></p>
</footer>