<table class="table table-bordered">
    <thead>
        <th scope="col"><select name="juego" id="juego" class="custom-select" [(ngModel)]='select'>
                <option value="Todos" selected>Todos</option>
                <option value="Anagrama">Anagrama</option>
                <option value="Velocidad Aritmetica">Velocidad Aritmetica</option>
                <option value="Piedra Papel o Tijeras">Piedra Papel o Tijeras</option>
                <option value="Adivina el numero">Adivina el numero</option>
                <option value="Ta-Te-Ti">Ta-Te-Ti</option>
                <option value="Repite la secuencia">Repite la secuencia</option>
                <option value="Memotest">Memotest</option>
            </select>
         <button class="btn btn-secondary btn-block" (click)='onFilter()'>Filtrar por juego</button>
        </th>
    </thead>
</table>
<app-listado-de-resultados [listado]="listado"> </app-listado-de-resultados>