<h1>menu</h1>
<!-- <mat-toolbar color="primary">
    <section>
      <button mat-button class="logo" (click)="Principal()">
        <img src="/assets/imagenes/logo.png" alt="">
        <span>Sala de Juegos</span>
      </button>
      <button mat-button (click)="Juego('Juegos')">Juegos</button>
      <button mat-button (click)="Juego('Listado')">Listas</button>
      <button mat-button (click)="Juego('Configuracion')">Configuracion</button>
      <button mat-button (click)="Juego('Jugadores')">Jugadores</button>
      <button mat-button (click)="Quien()">Quien Soy?</button>
  
      <div class="MenuButton">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
          <mat-icon>menu</mat-icon>
        </button>
      
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="Salir()">
            <mat-icon>power_settings_new</mat-icon>
            <span>LogOut</span>
          </button>
        </mat-menu>
      </div>
    </section>
  </mat-toolbar> -->