<span><h1 class="text-center">REGISTRO</h1> </span>
<form class="example-form" [formGroup]='registerForm' (ngSubmit)='onSubmit()'>
    <mat-form-field class="example-full-width">
        <mat-label>Nombre </mat-label>
        <input type='text' matInput placeholder="Nombre" class="noback" formControlName='nombre' />
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Apellido </mat-label>
        <input type='text' matInput placeholder="Apellido" class="noback" formControlName='apellido' />
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Direccion de correo electronico</mat-label>
        <input type='email' matInput placeholder="Email" class="noback" formControlName='email' />
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput placeholder="6 caracteres minimo" formControlName='password' />
    </mat-form-field>
    <div class="example-button-row">
        <button type="submit" mat-raised-button color="primary" class="btn btn-block">Registrar</button>
    </div>
    <div class="example-button-row">
        <button type="button" mat-raised-button color="accent" class="btn btn-block" routerLink='/registro'>Cancelar</button>
    </div>
</form>
<section class="section mt-1">
    Ya tienes cuentas? <a routerLink="/login">Login</a>
    <link>
</section>