<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Federico Andrade</mat-card-title>
        <mat-card-subtitle>Analista Programador</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/imagenes/quiensoy.jpg" alt="Federico Matias Andrade">
    <mat-card-content>
        <p>
            Analista programador en liquidacion a establecimientos y comencios en Prisma Medios de Pago. Estudiante de la tecnicatura de sistemas en UTN Fra.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <!-- <button mat-button>LIKE</button>
        <button mat-button>SHARE</button> -->
    </mat-card-actions>
</mat-card>