<button type="button" class="btn btn-secondary button" routerLink='/juegos'>
    <div class="media position-relative">
      <img
        class="mr-3"
        src="../../../assets/imagenes/saladejuegos.png"
        alt=""
      />
      <div class="media-body">
        <h1 class="mt-0">Juegos</h1>
        <p>
          El método lúdico es un conjunto de estrategias diseñadas para crear un
          ambiente de armonía en los estudiantes que están inmersos en el proceso
          de aprendizaje. Este método busca que los alumnos se apropien de los
          temas impartidos por los docentes utilizando el juego.
        </p>
      </div>
    </div>
  </button>
<mat-divider></mat-divider>
<button type="button" class="btn btn-dark button" routerLink='/listado'>
      <div class="media position-relative">
        <img
          class="mr-3"
          src="../../../assets/imagenes/listado.jpg"
          alt=""
        />
        <div class="media-body">
          <h1 class="mt-0">Listados de resultados</h1>
          <p>Los listados de los resultados con ordenamiento y busqueda</p>
        </div>
      </div>
    </button>
<mat-divider></mat-divider>
<button type="button" class="btn btn-secondary button" routerLink='/listado-jugadores'>
    <div class="media position-relative">
      <img
        class="rounded-circle mr-3"
        src="../../../assets/imagenes/jugadores.png"
        alt=""
      />
      <div class="media-body">
        <h1 class="mt-0">Jugadores</h1>
        <p>Listado de jugadores</p>
      </div>
    </div>
  </button>
<mat-divider></mat-divider>
<button type="button" class="btn btn-dark button">
    <div class="media position-relative">
      <img
        class="rounded-circle mr-3"
        src="../../../assets/imagenes/Configuracion.png"
        alt=""
      />
      <div class="media-body">
        <h1 class="mt-0">Configuracion</h1>
        <p>Ajustes de la aplicacion y los métodos de autentificación</p>
      </div>
    </div>
  </button>