<div class="container">
    <div class="card mb-3" style="max-width: 80%; max-height: 300px">
        <div class="row no-gutters">
            <div class="col-md-4" style="background-color: rgb(83, 49, 49)">
                <img src="./assets/imagenes/cerebro.jpg" class="card-img rounded-circle" alt="..." style="max-width: 298px; max-height: 298px" />
            </div>
            <div class="col-md-8">
                <div class="card-body text-center" style="background-color: rgb(112, 2, 2); height: 260px">
                    <h1 class="card-title text-center">
                        Velocidad y agilidad aritmética
                    </h1>
                    <p class="card-text text-center">Juego de agilidad mental</p>
                </div>
                <button type="button" class="btn btn-danger block" style="width: 100%" (click)="Juego('Agilidad')">
          Jugar
        </button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card mb-3" style="max-width: 80%; max-height: 300px">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body text-center" style="background-color: rgb(4, 71, 10); height: 260px">
                    <h1 class="card-title text-center">Piedra Papel o Tijera</h1>
                    <p class="card-text text-center">Juega contra la máquina</p>
                </div>
                <button type="button" class="btn btn-success block" style="width: 100%" (click)="Juego('PPT')">
          Jugar
        </button>
            </div>
            <div class="col-md-4" style="background-color: rgb(44, 214, 21)">
                <img src="./assets/imagenes/ppt.jpg" class="card-img" alt="..." style="max-width: 298px; max-height: 298px; height: 100%" />
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card mb-3" style="max-width: 80%; max-height: 300px">
        <div class="row no-gutters">
            <div class="col-md-4" style="background-color: rgb(9, 66, 104)">
                <img src="./assets/imagenes/adivina.png" class="card-img" alt="..." style="max-width: 298px; max-height: 298px; height: 100%" />
            </div>
            <div class="col-md-8">
                <div class="card-body text-center" style="background-color: rgb(67, 44, 196); height: 260px">
                    <h1 class="card-title text-center">Adivina el número secreto</h1>
                    <p class="card-text text-center">Juego de estrategia</p>
                </div>
                <button type="button" class="btn btn-primary block" style="width: 100%" (click)="Juego('Adivina')">
          Jugar
        </button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card mb-3" style="max-width: 80%; max-height: 300px">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body text-center" style="background-color: rgb(213, 243, 77); height: 260px">
                    <h1 class="card-title text-center" style="color: black">Anagrama</h1>
                    <p class="card-text text-center" style="color: black">
                        Forma una palabra con letras al azar
                    </p>
                </div>
                <button type="button" class="btn btn-warning block" style="width: 100%" (click)="Juego('Anagrama')">
          Jugar
        </button>
            </div>
            <div class="col-md-4" style="background-color: rgb(243, 247, 4)">
                <img src="./assets/imagenes/anagrama.png" class="card-img" alt="..." style="max-width: 298px; max-height: 298px; height: 100%" />
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card mb-3" style="max-width: 80%; max-height: 300px">
        <div class="row no-gutters">
            <div class="col-md-4" style="background-color: rgb(19, 25, 29)">
                <img src="./assets/imagenes/Memotest-de-Formas-y-Colores-3.jpg" class="card-img" alt="..." style="max-width: 298px; max-height: 298px; height: 100%" />
            </div>
            <div class="col-md-8">
                <div class="card-body text-center" style="background-color: rgb(12, 4, 59); height: 260px">
                    <h1 class="card-title text-center">Memotest</h1>
                    <p class="card-text text-center">Descubre dos fichas iguales en la menor cantidad de movimientos</p>
                </div>
                <button type="button" class="btn btn-light block" style="width: 100%" (click)="Juego('Memotest')">
          Jugar
        </button>
            </div>
        </div>
    </div>
</div>
<div class="container" >
    <div class="card mb-3" style="max-width: 80%; max-height: 300px">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body text-center" style="background-color: rgb(99, 100, 95); height: 260px">
                    <h1 class="card-title text-center" style="color: black">Tateti</h1>
                    <p class="card-text text-center" style="color: black">
                        Diviertete jugando al Tateti
                    </p>
                </div>
                <button type="button" class="btn btn-secondary block" style="width: 100%" (click)="Juego('Tateti')">
          Jugar
        </button>
            </div>
            <div class="col-md-4" style="background-color: rgb(146, 146, 129)">
                <img src="./assets/imagenes/tateti.png" class="card-img" alt="..." style="max-width: 298px; max-height: 298px; height: 100%" />
            </div>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 3cm">
    <div class="card mb-3" style="max-width: 80%; max-height: 300px">
        <div class="row no-gutters">
            <div class="col-md-4" style="background-color: rgb(28, 107, 160)">
                <img src="./assets/imagenes/secuencia/secuencia.jpg" class="card-img" alt="..." style="max-width: 298px; max-height: 298px; height: 100%" />
            </div>
            <div class="col-md-8">
                <div class="card-body text-center" style="background-color: rgb(57, 131, 150); height: 260px">
                    <h1 class="card-title text-center">Repite la secuencia</h1>
                    <p class="card-text text-center">Repite la secuencia es un juego de memoria, tanto visual como auditiva, pon a prueba tu talento y
                        vence a la maquina repitiendo los mismo pasos.. 
                        Recuerda la convinacion maxima (6 repeticiones) para llevarte la victoria</p>
                </div>
                <button type="button" class="btn btn-dark block" style="width: 100%" (click)="Juego('secuencia')">
          Jugar
        </button>
            </div>
        </div>
    </div>
</div>