<span><h1 class="text-center">LOGIN</h1> </span>
<form class="example-form" [formGroup]='loginForm' (ngSubmit)='onSubmit()'>
    <mat-form-field class="example-full-width">
        <mat-label>Direccion de correo electronico</mat-label>
        <input type='email' matInput placeholder="Email" class="noback" formControlName='email' />
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput placeholder="6 caracteres minimo" formControlName='password' />
    </mat-form-field>
    <div class="example-button-row">
        <button type="submit" mat-raised-button color="primary" class="btn btn-block">Login</button>
    </div>
    <div class="example-button-row">
        <button mat-raised-button color="accent" class="btn btn-block" routerLink='/login'>Cancelar</button>
    </div>
</form>
<section class="section mt-1">
    No tengo un usuario? <a routerLink="/registro">Registrarse</a>
    <br>
    <div class="row">
        <div class ='col-md-12'>
        <button class="btn btn-primary my-2 block" (click)='cargaUsuario()'>Cargar usuario</button>
        </div>
    </div>
</section>