<div style="text-align: center">
    <h1>{{ nuevoJuego.nombre }}!</h1>
</div>
<form name="juego">
    <div class="row">
        <div class="col-3">
            <label><h1>Ingrese numero: </h1></label>
        </div>
        <div class="col-9">
            <input type='number' [(ngModel)]='nuevoJuego.numeroIngresado' placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width: 50%" />
        </div>
    </div>
    <div class="row my-2">
        <div class="col-6">
            <h2 [hidden]="!ocultarVerificar">
                <button (click)="generarnumero()" class="btn btn-info btn-lg">
        Nuevo Numero Secreto
      </button>
            </h2>
        </div>
        <div class="col-6">
            <h2 [hidden]="ocultarVerificar">
                <button (click)="verificar()" class="btn btn-success btn-lg">
        Verificar
      </button>
            </h2>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-12">
        <div [hidden]="!nuevoJuego.gano" class="p-3 mb-2 bg-success text-white text-center">
            <h1> USTED ADIVINO EL NUMERO EN {{contador}} INTENTOS</h1>
        </div>
        <div [hidden]="nuevoJuego.gano" class="p-3 mb-2 bg-danger text-white text-center">
            <h1>USTED AUN NO GANO.. {{mensaje}}</h1>
        </div>
    </div>
</div>