<div class="container">
    <table class="table table-bordered table-dark mb-5">
        <thead>
            <tr>
                <th scope="col">JUEGO</th>
                <th scope="col">JUGADOR</th>
                <th scope="col">RESULTADO</th>
            </tr>
        </thead>
        <TBody>
            <tr *ngFor='let item of listado'>
                <td scope="row">{{item.juego}}</td>
                <td>{{item.jugador}}</td>
                <td>{{item.resultado}}</td>
            </tr>
        </TBody>
    </table>
</div>